[Unit]
Description=Update Docker containers in /etc/hosts
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]
Type=simple
Restart=on-failure
Environment="PYTHONUNBUFFERED=1"
StandardOutput=append:/var/log/docker-update-hosts.log
StandardError=append:/var/log/docker-update-hosts.log
ExecStart=/opt/docker-update-hosts/docker-update-hosts --log-level DEBUG

[Install]
WantedBy=docker.service